<div class="account-nav-menu-container">
    <nav class="account-nav-bar">
        <ul class="account-nav-list">
            <li><a href="">My accounts</a></li>
            <li><a href="">Transfer</a></li>
            <li><a href="">Delete</a></li>
        </ul>
    </nav>
</div>