<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <%- include('../partials/accountmenu') %>
        <div class="account-list-container">
            <div class="account-container">
                <span>Accout name</span>
                <span>0000-0000-0000-0000</span>
                <span>0 kr</span>
            </div>

        </div>
    </main>
    
</body>
</html>