<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <%- include('../partials/accountmenu') %>
        <div class="account-list-container">
            <div class="account-container">
                <p>nah</p>
            </div>

        </div>
    </main>
    
</body>
</html>