<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="formula-container">
            <form action="/api/login" method="post" id="login-form">
                <ul>
                    <li>
                        <label for="socialid">User Id</label>
                        <br>
                        <input type="text" name="socialid" id="socialid">
                    </li>
                    <li>
                        <label for="password">Password</label>
                        <br>
                        <input type="password" name="password" id="password">
                    </li>
                    <li>
                        <button type="submit">Login</button>
                    </li>
                </ul>
            </form>
        </div>
        <p><a href="/register">New Account</a></p>
    </main>
    <script type="module" src="/js/pages/main.js"></script>
    <script type="module" src="/js/pages/loginpage.js"></script>
    
</body>
</html>