<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <h1><%= title %></h1>
        <p>You do not have permission to see this page</p>
        <p>Please<a href="/">Login</a></p>
    </main>
    
</body>
</html>