
input, select{
    border-radius: 9px;
    border-style: 2px solid rgb(49, 49, 49);
    background-color: white;
    height:40px;
    font-size: 1.3em;
    padding: 0px 10px;
}

label{
    font-size: 1.4em;
}

form{
    ul{
        li{
            margin:15px 0px;
        }
    }
}